@media (max-width:1000px) {
    .parent{
        display: flex;
        flex-direction: column;
    }
    .right{
        display: flex;
        flex-direction: column;
        background-position: left;
        text-align: center;
    }
    .tex{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .tex3{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .tex2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}